#display-container{
    text-align: center;
}
#video{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}
.vid{
    margin: 20px;
}
.title{
    /* margin: 20px; */
    background-color: blueviolet;
}
