.name {
	width: 60%;
	height: 40px;
	justify-content: center;
	text-align: left;
	border: none;
	border-bottom: 1px solid rgb(211, 197, 197);
	margin: 10px;
	transition: 0.3s ease-in;
}
.name:hover {
	border-color: black;
}
.labels {
	margin-left: 10px;
}

.inputContainer {
	margin-top: 100px;
}

.commentsSection {
	margin: 20px;
}
.commentsContainer {
	margin-left: 40px;
}
.videoss {
	width: 100%;
}
#title-placeholder {
	margin-top: 40px;
	font-size: larger;
	margin-left: 45px;
}
.onAdd {
	height: 60px;
	border: none;
	font-size: 20px;
	cursor: pointer;
	transition: 0.3s ease-in;
}
.onAdd:hover {
	color: rgb(60, 58, 58);
}
